

#menuPrincipal, #menuPrincipal
ul{
padding:0;
margin:0 0;
list-style:none;
text-align:center;
}

#menuPrincipal
li{
display:inline-block;
position:relative;
border-radius:2px 2px 2px 2px;
}

#menuPrincipal
li:nth-child(4){
border-radius:2px 2px 0 0;
}
#menuPrincipal
li:nth-child(4) li:last-child{
border-radius:0 0 2px 2px;
}

#menuPrincipal
ul li{
display:inherit;
border-radius:0;
}

#menuPrincipal
ul li:hover{
border-radius:0;
}

#menuPrincipal
ul li{
border-radius:0 0 0 0;
}

#menuPrincipal
ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .0s all .0s;
-webkit-transition: .0s all .0s;
transition: .0s all .0s;
}

#menuPrincipal
li:hover ul{
max-height:15em;
}



/* background des liens menus */

#menuPrincipal
li {
background-color: #C7454E;
}

#menuPrincipal
li:first-child {
background-color: #FEFEFE;
}




/* background des liens sous menus */

#menuPrincipal
li:nth-child(4) li{
background:#C7454E;
}


/* background des liens menus et sous menus au survol */

#menuPrincipal
li:hover, #menuPrincipal li:nth-child(4) li:hover{
background:#B63740;
}

#menuPrincipal
li:first-child:hover{
background:#FEFEFE;
}



/* les a href */

#menuPrincipal
a{
text-decoration:none;
display:block;
padding:5px 10px;
color:#fff;
font-family:verdana;
font-size:13px;
font-weight: bold;
}

#menuPrincipal
li:first-child a{
font-weight: normal;
}

#menuPrincipal
li:nth-child(4) li a{
font-weight: bold;
}

#menuPrincipal
li:first-child a{
color:#C7454E;
font-family:impact;
}

#menuPrincipal
ul a{
padding:5px 0;
}

#menuPrincipal
li:hover li a{
color:#fff;
text-transform:inherit;
}

#menuPrincipal
li:hover a, #menuPrincipal li:nth-child(4) li:hover a{
color:#fff;
font-family:verdana;
}

#menuPrincipal
li:first-child:hover a{
color:#C7454E;
font-family:impact;
}

#headerMenu
{
	background-color:#C7454E;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	margin:0px auto;
	font-size:5px;
}

