@CHARSET "ISO-8859-1";

.headerConnexion
{
	background-color:#C7454E;
	border-bottom: 2px outset #C7454E;
}

.headerConnexion
li{
	display:block;
	position:relative;
	font-family:impact;
	font-size: 13px;
	color: white;
}

.headerConnexion
ul{
	display:inline-block;
	position:relative;
	vertical-align: top;
}

.text
{
	border: 1px solid black;
}
